body{margin:0}
.siteheader{display: flex; justify-content: space-between; align-items: center; margin: 5px}
.wrapper{display: flex; justify-content: center; flex-direction: row; margin: 19.920px}
.side{margin-right: 19.920px; background-color: lightseagreen; flex-grow: 0; flex-shrink: 0; flex-basis: 150px}
.main{background-color: mediumpurple; flex-grow: 1;}